<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg"><table class="table">
  <tbody><tr></tr>
  <tr>
	  <th>name</th>
	  <th>YYYYYY</th>
  </tr>
  <tr>
	  <th>introduction</th>
  </tr>
　    </div>
  </div>
</div>