// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.field,div.actions{
  margin-bottom:10px

}

.table{
  width:100%;
  margin-bottom:1rem;
  color:#212529;
}